body {
    overflow: hidden; 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.container {
    display: none;
}

.container-horse {
    display: none;
}

/* Status Hud */

.status-hud {
    display: flex;
    position: absolute;
    bottom: 1.5%;
    left: 1.5%;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    padding-top: 35px;
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 30% 2%, 10% 1%, 30% 5%, 34% 1%, 39% 4%, 43% 5%, 50% 6%, 50% 7%, 53% 3%, 58% 6%, 61% 9%, 68% 4%, 74% 7%, 78% 9%, 84% 5%, 105% 9%, 95% 16%, 98% 19%, 99% 27%, 99% 3%, 96% 45%, 96% 50%, 97% 57%, 97% 61%, 96% 69%, 99% 82%, 95% 88%, 94% 93%, 97% 98%, 82% 99%, 81% 94%, 74% 91%, 61% 96%, 54% 97%, 50% 93%, 35% 99%, 34% 90%, 31% 90%, 15% 94%, 14% 93%, 9% 88%, 1% 90%, 6% 90%, 0% 57%, 2% 45%, 3% 43%, 2% 10%, 9% 20%, 2% 15%, 3% 13%);
}

.horse-hud {
    display: flex;
    position: absolute;
    bottom: 1.5%;
    left: 15%;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    padding-top: 35px;
    clip-path: polygon(8% 0%, 23% 4%, 39% 1%, 54% 1%, 70% 1%, 63% 6%, 82% 2%, 93% 3%, 100% 11%, 96% 31%, 99% 43%, 97% 67%, 99% 86%, 91% 100%, 75% 96%, 55% 100%, 55% 93%, 40% 98%, 26% 95%, 13% 100%, 15% 92%, 2% 99%, 0% 84%, 4% 63%, 0% 50%, 5% 31%, 0% 17%, 7% 19%, 1% 5%);
}

.status-bar {
    position: relative;
    background: rgba(17, 17, 17, 0.5);
    width: 40px;
    height: 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.status-bar svg {
    position: absolute;
    color: #fff;
    z-index: 1;
    padding: 0 10px;
    padding-bottom: 35px;
    font-size: 20px;
}

.status-bar-bg {
    background: #ffffff;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 2px;
    left: 0;
}

#health-bar {
    width: 50px;
    justify-content: center;
}

#stamina-bar {
    width: 50px;
    justify-content: center;
}

#hunger-bar {
    width: 50px;
    justify-content: center;
}

#water-bar {
    width: 50px;
    justify-content: center;
}

#horsehealth-bar {
    width: 50px;
    justify-content: center;
}

#horsestamina-bar {
    width: 50px;
    justify-content: center;
}

#heal {
    background: #ffffff;
}

#stamina {
    background: #ffffff;
}

#hunger {
    background: #ffffff;
}

#thirst {
    background: #ffffff;
}

#horsehealth {
    background: #ffffff;
}

#horsestamina {
    background: #ffffff;
}